.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}
#start-game-btn {
  background-color: cornflowerblue;
  color: whitesmoke;
  border-radius: 5px;
  border: 1px solid silver;
  padding: 10px;
}
#start-game-btn:hover {
  background-color: #00bfff;
  color: whitesmoke;
  cursor: pointer;
}
